<div class="container">

<h1>Stupid Coaching</h1>

<h3> Ask your coach anything <h3>

<form action="/ask">
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form>

<p> <%= @answer %> </p>

</div>
